/*  general styling*/
* {
  box-sizing: border-box;
}
body {
  margin: 0px;
}
html {
  font-family: Arial, Helvetica, sans-serif;
}
header {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

/*  specitic styling*/
header,
main {
  padding: 2px;
}
.overall_header {
  text-align: center;
  background-color: aquamarine;
  padding: 1px;
}
